<!DOCTYPE html>
<html lang="en" ng-app="builtinDirectiveApp">
<head>
    <title>Directives</title>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="ngmodules/angular.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">

    <style>
        td > *:first-child {
            font-weight: bold;
        }
        .Red {
            background-color: lightcoral;
        }
        .Green {
            background-color: lightgreen;
        }
        .Blue {
            background-color: lightblue;
        }

    </style>

    <script>
        angular.module("builtinDirectiveApp", []);
    </script>
    <script src="controllers/builtinDirectiveDefaultCtrl.js"></script>
</head>
<body>
    <div class="panel" ng-controller="defaultCtrl">
        <h3 class="panel-header">To Do List</h3>
        <div class="checkbox well">
            <label>
                <input type="checkbox" ng-model="dataValue">
                Set the data value
            </label>
        </div>
        <button class="btn btn-success" ng-disabled="dataValue">Button</button>

        <div class="well" tap="message = 'Tapped!'">
            {{ message }}
        </div>
        <div class="well">
            <div ng-repeat="_button in buttons"
                 class="btn btn-primary"
                 ng-click="settings.rows = _button">
                {{ _button }}
            </div>
        </div>
        <div class="well row">
            <div class="col-xs-6" ng-repeat="(key, val) in settings">
                <h4>{{ key }}</h4>
                <div class="radio" ng-repeat="_button in buttons">
                    <label>
                        <input type="radio"
                               ng-model="settings[key]"
                               value="{{_button}}">
                        {{ _button }}
                    </label>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th ng-repeat="_header in ['#', 'Action', 'Done']">
                        {{ _header }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="_todo in todos"
                    ng-class="settings.rows"
                    ng-mouseleave="handleEvent($event)"
                    ng-mouseenter="handleEvent($event)">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ _todo.action }}</td>
                    <td ng-class="settings.columns">{{ _todo.complete? "Done": "Incomplete" }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>