<div class="panel panel-default" ng-controller="productListCtrl" ng-hide="error">
    <div class="col-3">
        <a class="btn btn-block btn-default btn-lg"
           ng-click="selectCategory('home')"
           ng-class="getCategoryClass('home')">
            Home
        </a>
        <a class="btn btn-block btn-default btn-lg"
           ng-repeat="category in products| unique: 'category'| orderBy: 'toString()'"
           ng-click="selectCategory(category)"
           ng-class="getCategoryClass(category)">
            {{ category }}
        </a>
    </div>
    <div class="col-8">
        <div class="well" ng-repeat="item in products| filter: categoryFilter| range: currentPage: pageSize">
            <h3>
                <strong>{{ item.name }}</strong>
            </h3>
            <span class="pull-right label label-primary">
                        {{ item.price | currency }}
                    </span>
            <span class="lead"> {{ item.description }}</span>
        </div>
        <div class="pull-right btn-group">
            <a class="btn btn-default"
               ng-repeat="page in products| filter: categoryFilter| pageCount: pageSize"
               ng-class="getPageClass($index+1)"
               ng-click="selectPage($index+1)">
                {{ $index + 1 }}
            </a>
        </div>
    </div>
</div>